---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página de descarga para IPTV APK">
  <main>
    <h1>Descargar</h1>
    <a href="/smarters.apk" class="ov-btn-slide-bottom">Descargar apk</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  /*** ESTILOS BOTÓN SLIDE BOTTOM ***/
  .ov-btn-slide-bottom {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-bottom:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-bottom::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-bottom:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
</style>
